.container {
  margin: 10px auto;
  max-width: 1024px;
  height: 100vh;
  padding: 30px;
  width: calc(100vw - 30px);
}
.button-container {
  display: flex;
  align-items: flex-end;
  min-height: 60px;
  margin-bottom: 60px;
  padding: 60px;
}
.input-container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
}
